ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 1128px;
  padding: 24px 16px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-link:hover,
.basicLightbox--img:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" style="fill:rgb(78, 117, 255)" ><path d="M9.395 31.082c0.278 0.231 0.627 0.357 0.988 0.356h16.424c1.705 0 3.088-1.382 3.088-3.087v-11.132c-0-1.585-1.194-2.89-2.732-3.066l-0.014-0.001-11.149-1.24v-9.263c0-0.015 0-0.033 0-0.051 0-1.705-1.383-3.088-3.088-3.088s-3.088 1.383-3.088 3.088c0 0.018 0 0.036 0 0.054l-0-0.003v18.526l-4.678-1.871c-0.339-0.14-0.734-0.221-1.147-0.221-1.357 0-2.509 0.874-2.924 2.090l-0.006 0.022-0.174 0.525c-0.050 0.146-0.080 0.314-0.080 0.489 0 0.475 0.215 0.901 0.554 1.183l0.002 0.002 8.024 6.688z"></path></svg>')
      15 0,
    auto;
}
